<p id="notice"><%= notice %></p>

<h1>BlackList</h1>
<center>
    <% @movies.each do |movie|%>
    <div class="jumbotron" style="max-width: 500px;">
  <h4><%= movie.title %> (<%= movie.year %>)</h4>
  <p> 
  <%= image_tag movie.image, class: "img-responsive" if movie.image != nil %>
  <%= movie.user.email %>
  <%= link_to 'Show', movie %>
  <%= link_to 'Edit', edit_movie_path(movie) %>
  <%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %>
  
  </p>
  <p><%= link_to 'Learn more', movie, class: "btn btn-primary btn-lg" %></p>
</div>
      </tr>
    <% end %>
  </center>

